keras
streamlit
pandas
numpy
matplotlib
scikit-learn
langchain
tensorflow
google-genai
seaborn
statsmodels
langchain-groq
openml
torch
langchain_huggingface
langchain-community
amltk
instructor
jsonref
py-experimenter
imblearn
xgboost
catboost
lightgbm
torchvision